.ra-counter1-sec {
	z-index: 1;
	background-color: #153dbb;
	&:before {
		top: 0;
		right: 0;
		z-index: -1;
		width: 52%;
		height: 100%;
		content: '';
		position: absolute;
		background-color: #000000;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.ra-counter1-content {
	gap: 30px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.ra-counter1-p1 {
	gap: 20px;
	max-width: 640px;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.ra-sec-title1 {
		max-width: 420px;
		.subtitle {
			color: #fff;
		}
		.sec_title {
			color: #fff;
			font-size: 45px;
			@media #{$sm,$xs,$xxs} {
				font-size: 32px;
			}
		}
	}
}
.ra-counter1-p2 {
	gap: 55px;
	max-width: 695px;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.ra-counter1-item {
	max-width: 190px;
	position: relative;
	&:before {
		top: 0;
		right: -5px;
		color: #fff;
		content: '*';
		font-size: 80px;
		font-weight: 800;
		position: absolute;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	&:last-child {
		&:before {
			display: none;
		}
	}
	h3 {
		color: #fff;
		line-height: 1;
		font-size: 80px;
		font-weight: 800;
		padding-bottom: 15px;
		@media #{$sm,$xs,$xxs} {
			font-size: 50px;
		}
	}
	h4 {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		padding-bottom: 10px;
	}
	p {
		color: #fff;
		font-size: 15px;
	}
}