.ra-team1-content {
	gap: 30px;
	margin: 0 auto;
	max-width: 1700px;
	padding: 0px 15px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.ra-tm1-exp {
	max-width: 190px;
	h2 {
		color: #072161;
		line-height: 1;
		font-size: 50px;
		font-weight: 800;
		span {
			font-size: 100px;
		}
	}
	p {
		color: #072161;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.3;
	}
}
.ra-tm1-img-wrap {
	z-index: 1;
	width: 100%;
	max-width: 1105px;
	&:before {
		left: 0;
		bottom: 0;
		width: 100%;
		content: '';
		z-index: -1;
		height: 35%;
		position: absolute;
		background-color: #244cc9;
	}
	.item-img {
		position: relative;
		&:nth-child(1) {
			transform: translateX(130px);
			@media #{$sm,$xs,$xxs} {
				transform: translateX(30px);
			}
		}
		&:nth-child(2) {
			z-index: 2;
		}
		&:nth-child(3) {
			transform: translateX(-130px);
			@media #{$sm,$xs,$xxs} {
				transform: translateX(-30px);
			}
		} 
	}
}
.ra-more-btn {
	a {
		gap: 15px;
		display: flex;
		align-items: center;
	}
	span {
		color: #fff;
		width: 202px;
		height: 202px;
		font-size: 20px;
		line-height: 1.1;
		font-weight: 800;
		border-radius: 100%;
		background-color: #164ac8;
	}
}
.ra-team1-bottom-btn {
	a {
		gap: 15px;
		color: #072161;
		display: flex;
		font-size: 16px;
		font-weight: 600;
		padding: 20px 15px;
		align-items: center;
		justify-content: center;
	}
}