.ra-process3-sec {
	.ra-sec-title3 {
		margin: 0 auto;
		max-width: 840px;
	}
}
.ra-process3-content {
	position: relative;
	&:before {
		left: 0;
		right: 0;
		top: 32px;
		width: 70%;
		height: 1px;
		content: '';
		margin: 0 auto;
		position: absolute;
		background: linear-gradient(329.35deg, rgba(87, 232, 223, 0.4) 0%, rgba(104, 114, 254, 0.4) 100%);
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.ra-process3-item {
	margin: 0 auto;
	max-width: 346px;
	position: relative;
	@media #{$md,$sm,$xs,$xxs} {
		margin-bottom: 30px;
	}
	&:before {
		top: 60%;
		width: 1px;
		content: "";
		height: 60%;
		right: -55px;
		opacity: .32;
		position: absolute;
		transform: translateY(-50%);
		background: linear-gradient(180deg, rgba(98, 84, 231, 0) 0%, #6254E7 28.37%, #6254E7 66.83%, rgba(98, 84, 231, 0) 100%);
		@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.item-serial {
		width: 64px;
		height: 64px;
		margin: 0 auto;
		position: relative;
		margin-bottom: 40px;
		border-radius: 12px;
		border: 1px solid transparent;
		background: linear-gradient(#fff, #fff) padding-box, linear-gradient(329.35deg, rgba(87, 232, 223, 0.4) 0%, rgba(104, 114, 254, 0.4) 100%) border-box;
		&:before {
			left: 0;
			right: 0;
			width: 1px;
			content: '';
			height: 40px;
			bottom: -40px;
			margin: 0 auto;
			position: absolute;
			background: linear-gradient(329.35deg, rgba(87, 232, 223, 0.4) 0%, rgba(104, 114, 254, 0.4) 100%);
		}
	}
	.item-card {
		padding: 50px 35px;
		border-radius: 16px;
		.item-icon {
			width: 72px;
			height: 72px;
			margin: 0 auto;
			border-radius: 100%;
			margin-bottom: 46px;
			background-color: #46505B;
		}
		.item-text {
			h3 {
				font-size: 20px;	
				font-weight: 600;
				padding-bottom: 15px;
			}
			p {
				font-size: 16px;
			}
		}
	}
}
.col-lg-4 {
	&:last-child {
		.ra-process3-item { 
			&:before {
				display: none;
			}
		}
	}
	&:nth-child(1) {
		.ra-process3-item {
			.item-card {
				background-color: #E5EEFF;
			}
		}
	}
	&:nth-child(2) {
		.ra-process3-item {
			.item-card {
				background-color: #FFF8DD ;
			}
		}
	}
	&:nth-child(3) {
		.ra-process3-item {
			.item-card {
				background-color: #EFE9FF;
			}
		}
	}
}