.ra-tm3-title {
	h2 {
		line-height: 1;
		font-weight: 700;
		font-size: 132px;
		letter-spacing: -2px;
		color: rgba(28, 28, 45, .32);
		.split-line {
			overflow: hidden;
		}
		@media #{$lg} {
			font-size: 115px;
		}
		@media #{$md,$sm,$xs,$xxs} {
			font-size: 100px;
			text-align: center;
		}
		@media #{$sm} {
			font-size: 80px;
		}
		@media #{$xs} {
			font-size: 60px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
		@media #{$xxxs} {
			font-size: 36px;
		}
		b {
			top: -70px;
			font-size: 44px;
			font-style: italic;
			margin-left: 200px;
			position: relative;
			color: var(--ra-title-c3);
			font-family: var(--ra-playfair);
			@media #{$md,$sm,$xs,$xxs} {
				top: 0;
				margin-left: 0;
			}
		}
		span {
			display: block;
			margin-left: 120px;
			color: var(--ra-title-c3);
			@media #{$md,$sm,$xs,$xxs} {
				margin-left: 0;
			}
		}
	}
}
.ra-tm3-content {
	.ra-tm3-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		transition: all 1500ms ease-in-out;
		background-color: var(--ra-title-c3);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	.ra-tm3-shpape1 {
		opacity: 0;
		left: -100%;
		bottom: -100%;
		transition: all 1500ms ease-in-out;
	}
	.ra-tm3-shpape2 {
		top: -100%;
		right: -100%;
		opacity: 0;
		transition: all 1500ms ease-in-out;
	}
	&:is(.active) {
		.ra-tm3-bg {
			transition-delay: 500ms;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		.ra-tm3-shpape1 {
			opacity: 1;
			left: -20%;
			bottom: -55%;
			transition-delay: 1500ms;
		}
		.ra-tm3-shpape2 {
			top: -40%;
			opacity: 1;
			right: -18%;
			transition-delay: 1500ms;
		}
	}
}
.ra-tm3-item {
	margin: 0 auto;
	overflow: hidden;
	max-width: 310px;
	position: relative;
	border-radius: 12px;
	margin-bottom: 30px;
	.item-img {
		transition: all 2000ms ease-in-out;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(1.5);
			transition: all 1500ms ease-in-out;
		}
	}
	.item-text {
		left: 0;
		color: #fff;
		bottom: 28px;
		max-width: 250px;
		position: absolute;
		transition: all 500ms ease-in-out;
		span {
			opacity: 0;
			font-size: 22px;
			font-weight: 600;
			padding: 12px 25px;
			margin-left: 30px;
			visibility: hidden;
			border-radius: 0px 8px 0px 8px;
			background-color: var(--ra-base-c3);
			transition: all 500ms ease-in-out;
		}
		p {
			opacity: 0;
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 0;
			margin-left: 0px;
			visibility: hidden;
			padding: 10px 35px;
			display: inline-block;
			border-radius: 0px 8px 8px 8px;
			background-color: var(--ra-base-c5);
			transition: all 500ms ease-in-out;
			@media #{$lg,$md,$sm,$xs,$xxs} {
				font-size: 16px;
			}
		}
	}
	&:hover {
		.item-text {
			span {
				opacity: 1;
				visibility: visible;
				margin-left: 0px;
				transition-delay: 200ms;
			}
			p {
				opacity: 1;
				margin-left: 80px;
				visibility: visible;
				white-space: nowrap;
				transition-delay: 300ms;
				@media #{$lg,$md,$sm,$xs,$xxs} {
					margin-left: 30px;
				}
			}
		}
	}
	&.active {
		.item-img {
			transition-delay: 800ms;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			img {
				transform: scale(1);
				transition-delay: 1700ms;
			}
		}
	}
} 
@keyframes moveLeftRight {
	0% {
		-webkit-transform: translateX(16px);
		transform: translateX(16px);
	}
	50% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
	100% {
		-webkit-transform: translateX(16px);
		transform: translateX(16px);
	}
}
@keyframes moveRightLeft {
	0% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
	50% {
		-webkit-transform: translateX(16px);
		transform: translateX(16px);
	}
	100% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}
.ra-tm3-arrow {
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
	a {
		z-index: 1;
		width: 207px;
		height: 207px;
		display: flex;
		align-items: center;
		position: relative;
		border-radius: 100%;
		justify-content: center;
		box-shadow: 0px -4px 3px 0px #00000040 inset;
		span {
			position: absolute;
		}
		&:before {
			top: 0;
			left: 0;
			left: -15px;
			width: 100%;
			height: 100%;
			z-index: -1;
			content: '';
			border-radius: 100%;
			position: absolute;
			border: 2px solid #6254E7;
			box-shadow: 0px -4px 3px 0px #00000040 inset;

		}
		&:hover {
			span {
				animation: moveRightLeft 2s ease-in-out infinite;
			}
			&:before {
				animation: moveLeftRight 2s ease-in-out infinite;
			}
		}
	}
}