@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: inherit;
	}
}
body {
	margin: 0;
	padding: 0;
	z-index: 1;
	margin: 0 auto;
	line-height: 1.555;
	overflow-x: hidden;
	background-color: #fff;     
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased; 
	.row {
		--bs-gutter-x: 32px;
	}
}
.home-1 {
	font-size: 18px;
	color: var(--ra-body-c1);
	font-family: var(--ra-urbanist);
	.container {
		max-width: 1430px;
	}
}
.home-3 {
	font-size: 18px;
	color: var(--ra-body-c3);
	font-family: var(--ra-inter);
	.container {
		max-width: 1344px;
	}
}
.ul-li ul {
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
	}
}
.ul-li-block ul {
	margin:0;
	padding: 0;
	li{
		display: block;
		list-style: none;
	}
}
.headline-1 h1,
.headline-1 h2,
.headline-1 h3,
.headline-1 h4,
.headline-1 h5,
.headline-1 h6 {
	margin-bottom: 0;
	line-height: 1.167;
	font-family: var(--ra-urbanist);
}
.headline-3 h1,
.headline-3 h2,
.headline-3 h3,
.headline-3 h4,
.headline-3 h5,
.headline-3 h6 {
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.075;
	color: var(--ra-title-c3);
	font-family: var(--ra-syne);
}
.headline-4 h1,
.headline-4 h2,
.headline-4 h3,
.headline-4 h4,
.headline-4 h5,
.headline-4 h6 {
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.12;
	letter-spacing: -1px;
	color: var(--ra-title-c3);
	font-family: var(--ra-manrope);
}
#preloader { 
	position: fixed; 
	left: 0;
	top: 0;
	z-index: 99999; 
	width: 100%; 
	height: 100%;
	overflow: visible;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/loader.gif);
}

[data-background] {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}
.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a.active,
select,
select:hover,
select:focus,
select:visited {
	outline: none;
	box-shadow: none;
	text-decoration: none;
	color: inherit;
}
a, span {
	display: inline-block;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-transform: inherit;
	text-decoration: none;
	transition: inherit;
}
a {
	color: inherit;
	text-decoration:none;
	transition: 500ms all ease;
	&:hover, &:focus{
		text-decoration: none;
	}
}
.img-cover {
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.form-control {
	box-shadow: none;
}
.background_overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.pera-content {
	p {
		margin-bottom: 0;
	}
}
.splitting.animated .char {
	-webkit-animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
	animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
	-webkit-animation-delay: calc(30ms * var(--char-index));
	animation-delay: calc(30ms * var(--char-index));
}
.splitting .whitespace {
	width: 10px;
}
.href-underline {
	a {
		width: 100%;
		display: inline !important;
		background-position-y: -1px;
		background-repeat: no-repeat;
		background-size: 0 100%;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
		-webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		&:hover {
			color: inherit;
			background-size: 100% 100%;
		}
	}
}
.swiper-container {
	margin-left: auto;
	display: flex;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.ra-scrollup {
	width: 55px;
	right: 20px;
	z-index: 5;
	height: 55px;
	bottom: 20px;
	display: none;
	position: fixed;
	border-radius: 100%;
	line-height: 55px;
	background-position: 120%;
	background: var(--ra-gradient-1);
	i {
		color: #fff;
	}
}
.tx-tab-btn {
	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-link {
		border: none;
		padding-top: 0;
		padding-right: 0;
		border-radius: 0;
		margin-bottom: 0;
		cursor: pointer;
		background-color: transparent;
	}
	.nav-tabs {
		border: none;
	}
	.nav {
		display: inherit;
	}
}
.over-hidden {
	overflow: hidden;
}
.ra-sec-title1 {
	.subtitle {
		color: #000000;
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 5px;
		gap: 10px;
	}
	.sec_title {
		color: #000000;
		font-size: 60px;
		font-weight: 800;
		@media #{$xl} {
			font-size: 56px;
		}
		@media #{$lg} {
			font-size: 50px;
		}
		@media #{$md,$sm} {
			font-size: 45px;
		}
		@media #{$xs} {
			font-size: 40px;
		}
		@media #{$xxs} {
			font-size: 32px;
		}
		@media #{$xxxs} {
			font-size: 30px;
		}
		&:is(.ver_2) {
			font-size: 55px;
			@media #{$xl} {
				font-size: 50px;
			}
			@media #{$lg} {
				font-size: 45px;
			}
			@media #{$md,$sm} {
				font-size: 40px;
			}
			@media #{$xs} {
				font-size: 35px;
			}
			@media #{$xxs} {
				font-size: 32px;
			}
			@media #{$xxxs} {
				font-size: 30px;
			}
		}
	}
	p {
		padding-top: 25px;
	}
	&:is(.text-center) {
		margin: 0 auto;
		max-width: 710px;
		span {
			display: block;
			margin-bottom: 10px;
		}
	}
}
.ra-sec-title3 {
	.subtitle {
		font-size: 16px;
		font-weight: 600;
		padding-left: 92px;
		position: relative;
		letter-spacing: 2px;
		margin-bottom: 10px;
		color: var(--ra-base-c3);
		&:before,
		&:after {
			left: 0;
			top: 10px;
			height: 2px;
			content: '';
			width: 80px;
			border-radius: 5px;
			position: absolute;
			background: linear-gradient(90deg, #FF4A68 29.33%, rgba(255, 74, 104, 0) 100%);
		}
		&:after {
			right: 0;
			left: auto;
			display: none;
			transform: rotate(-180deg);
		}
	}
	.sec_title {
		font-size: 52px;
		font-weight: 600;
		line-height: 1.067;
		letter-spacing: -2px;
		color: var(--ra-title-c3);
		.split-line {
			overflow: hidden;
		}
		span {
			display: inline;
			font-style: italic;
			font-family: var(--ra-playfair);
			background: linear-gradient(92.38deg, #8215FF 15.05%, #2DA9FF 99.63%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		@media #{$xl} {
			font-size: 48px;
		}
		@media #{$lg} {
			font-size: 45px;
		}
		@media #{$md,$sm} {
			font-size: 40px;
		}
		@media #{$xs} {
			font-size: 36px;
		}
		@media #{$xxs} {
			font-size: 32px;
		}
		@media #{$xxxs} {
			font-size: 30px;
		}
	}
	p {
		padding-top: 20px;
	}
	&:is(.text-center) {
		.subtitle { 
			padding-right: 92px;
			&:after {
				display: block;
			}
		}
	}
}

.ra-sec-title4 {
	.subtitle {
		font-size: 16px;
		font-weight: 500;
		position: relative;
		padding: 2px 23px;
		margin-bottom: 15px;
		display: inline-block;
		border-radius: 4px;
		color: var(--ra-title-c3);
		border: 1px solid transparent;
		background: linear-gradient(#fff, #fff) padding-box, var(--ra-gradient-1) border-box;
		&:before,
		&:after {
			top: 12px;
			width: 4px;
			height: 4px;
			content: '';
			position: absolute;
			border-radius: 100%;
			background: var(--ra-gradient-1);
			background-size: 200%, 1px;
		}
		&:before {
			left: 10px;
		}
		&:after {
			right: 10px;
		}
	}
	.sec_title {
		font-size: 48px;
		font-weight: 700;
		line-height: 1.125;
		letter-spacing: -1px;
		color: var(--ra-title-c3);
		@media #{$xl} {
			font-size: 40px;
		}
		@media #{$lg} {
			font-size: 38px;
		}
		@media #{$md,$sm} {
			font-size: 36px;
		}
		@media #{$xs} {
			font-size: 34px;
		}
		@media #{$xxs} {
			font-size: 30px;
		}
		@media #{$xxxs} {
			font-size: 28px;
		}
	}
	p {
		padding-top: 20px;
	}
}
.ra-btn-1 { 
	a {
		span {
			gap: 10px;
			color: #fff;
			display: flex;
			font-size: 15px;
			font-weight: 800;
			padding: 21px 40px;
			white-space: nowrap;
			align-items: center;
			border-radius: 100px;
			background-color: #000000;
			@media #{$xs,$xxs} {
				padding: 15px 30px;
			}
		}
	}
	&.ver_2 {
		a {
			span {
				gap: 8px;
				i {
					transform: rotate(-45deg);
				}
			}
		}
	}
}
.ra-btn-3 {
	a {
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		border-radius: 6px;
		padding: 16px 28px;
		background: var(--ra-gradient-1);
		background-size: 200%, 1px;
		span {
			position: relative;
			transition: transform .5s;
			transform-origin: 50% 0;
			transform-style: preserve-3d;
			&:before {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				content: attr(data-text);
				transition: color 0.5s;
				transform: rotateX(-90deg);
				transform-origin: 50% 0;
				text-align: center;
			}
		}
		i {
			margin-left: 10px;
		}
		&:hover {
			background-position: 120%;
			span {
				transform: rotateX(90deg) translateY(-12px);
				color: inherit;
			}
		}
	}
}
.ra-btn-4 {
	a {
		img {
			padding: 14px;
			border-radius: 100%;
			border: 1px solid transparent;
			background: linear-gradient(#fff, #fff) padding-box, var(--ra-gradient-1) border-box;
			transition: all 0.3s;
		}
		span {
			z-index: 1;
			color: #fff;
			line-height: 1;
			font-weight: 600;
			position: relative;
			padding: 18px 28px;
			border-radius: 100px;
			letter-spacing: -1px;
			font-family: var(--ra-manrope);
			background: var(--ra-gradient-2);
			background-size: 200%, 1px;
		}
		>*:nth-child(1) {
			transform: scale3d(0.5, 0.5, 1);
			margin-inline-end: -45px;
		}

		>*:nth-child(2) {
			transform: scale3d(1, 1, 1);
		}

		>*:nth-child(3) {
			transform: scale3d(1, 1, 1);
			margin-inline-start: 0;

		}
		&:hover {
			>*:nth-child(1) {
				transform: scale3d(1, 1, 1) rotate(-130deg);
				margin-inline-end: 0;
			}

			>*:nth-child(2) {
				transform: scale3d(1, 1, 1);
			}

			>*:nth-child(3) {
				transform: scale3d(0.5, 0.5, 1) rotate(-130deg);
				margin-inline-start: -45px;
			}
		}
	}
}

// txa-common-css-start

@for $i from 1 through 40 {
	.mt-#{5 * $i}{margin-top: 5px * $i;}
}

@for $i from 1 through 40 {
	.mb-#{5 * $i}{margin-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
	.ml-#{5 * $i}{margin-left: 5px * $i;}
}

@for $i from 1 through 40 {
	.mr-#{5 * $i}{margin-right: 5px *$i;}
}

@for $i from 1 through 40 {
	.pt-#{5 * $i}{padding-top: 5px *$i;}
}

@for $i from 1 through 60 {
	.pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
	.pl-#{5 * $i}{padding-left: 5px *$i;}
}

@for $i from 1 through 40 {
	.pr-#{5 * $i}{padding-right: 5px *$i;}
}