.ra-cs-sec {
	z-index: 1;
	&:before {
		left: 0;
		bottom: 0;
		width: 100%;
		content: '';
		height: 135px;
		position: absolute;
		background-color: #fff;
	}
}
.ra-cs-top-content {
	gap: 30px 20px;
	flex-wrap: wrap;
	h3 {
		color: #fff;
		font-size: 35px;
		font-weight: 700;
	}
}
.ra-cs-content {
	margin-right: -305px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-right: 0;
	}
}
.ra-cs1-nav {
	gap: 20px;
	.arrow-nav {
		width: 60px;
		height: 60px;
		cursor: pointer;
		border-radius: 100%;
		background-color: #fff;
		transition: all 500ms ease-in-out;
		@media #{$xxs} {
			width: 45px;
			height: 45px;
		}
		&:hover {
			color: #fff;
			background-color: var(--ra-base-c1);
		} 
	}
}
.ra-cs-item {
	width: 100%;
	max-width: 548px;
	padding-bottom: 50px;
	.item-img {
		overflow: hidden;
		border-radius: 20px;
		img {
			transition: all 500ms ease-in-out;
		}
	}
	.item-text {
		left: 0;
		right: 0;
		bottom: 0;
		width: 90%;
		margin: 0 auto;
		position: absolute;
		a {
			color: #fff;
			width: 100%;
			font-size: 25px;
			font-weight: 700;
			padding: 18px 40px;
			border-radius: 15px;
			background-color: #272938;
		}
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.1);
			}
		}
		.item-text {
			a {
				letter-spacing: 1px;
			}
		}
	}
}