.ra-sponsor2-content {
	padding: 20px 0px;
	display: flow-root;
	background-color: #0c0c0c;
}
.ra-spon2-item {
	margin: 0px 50px;
	display: inline-block;
	.item-img {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}