.ra-project4-sec {
	z-index: 1;
	margin: 0px 60px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin: 0;
	}
	.ra-pro-bg2 {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 100%;
		overflow: hidden;
		max-height: 525px;
		position: absolute;
		border-bottom-left-radius: 32px;
		border-bottom-right-radius: 32px;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			max-height: 100%;
		}
	}
}
.ra-project4-item-wrap {
	max-width: 648px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin: 0 auto;
	}
	.ra-sec-title4 {
		padding-top: 50px;
		padding-left: 48px;
		margin-bottom: 110px;
		@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			padding-left: 0;
		}
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			padding: 0;
			margin-bottom: 30px;
		}
		.sec_title {
			color: #fff;
		}
		.subtitle {
			color: #fff;
			background: transparent;
			border: 1px solid #FF824D;
			&:before,
			&:after {
				background: #fff;
			}
		}
	}
}
.ra-project4-content {
	gap: 0px 24px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column-reverse;
	}
}
.ra-project4-item {
	max-width: 648px;
	overflow: hidden;
	border-radius: 12px;
	margin-bottom: 24px;
	&:before {
		bottom: 0;
		width: 100%;
		content: '';
		height: 0%;
		z-index: 1;
		position: absolute;
		transition: all 500ms ease-in-out;
		background: linear-gradient(180deg, rgba(28, 28, 45, 0) 0%, #1C1C2D 100%);
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			height: 100%;
		}
	}
	.item-img {
		min-height: 260px;
		img {
			transition: all 500ms ease-in-out;
		}
	}
	.item-text {
		left: 0px;
		opacity: 0;
		bottom: 0px;
		z-index: 2;
		max-width: 90%;
		transition: all 500ms ease-in-out;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			left: 30px;
			bottom: 30px;
		}
		@media #{$xxxs} {
			left: 15px;
			bottom: 15px;
		}
		h3 {
			color: #fff;
			font-size: 36px;
			font-weight: 600;
			letter-spacing: -1.5px;
			&:hover {
				color: #6254E7;
			}
			@media #{$xxs} {
				font-size: 30px;
			}
			@media #{$xxxs} {
				font-size: 24px;
			}
		}
		.item-tag {
			margin-top: 10px;
			a {
				margin: 5px;
				color: #6254E7;
				font-size: 14px;
				padding: 5px 16px;
				border-radius: 5px;
				border: 1px solid #6254E7;
				&:hover {
					color: #fff;
					background-color: #6254E7;
				}
				@media #{$xxs} {
					font-size: 12px;
					padding: 4px 10px;
				}
				@media #{$xxxs} {
					padding: 4px 5px;
				}
			}
		}
	}
	&:hover {
		&:before {
			height: 100%;
		}
		.item-text {
			opacity: 1;
			left: 60px;
			bottom: 60px;
		}
		.item-img {
			img {
				transform: scale(1.2);
			}
		}
	}
}