.ra-ser4-sec {
	padding: 175px 50px 0px;
	@media #{$xl,$lg,$md} {
		padding: 175px 15px 0px;
	}
	@media #{$sm,$xs,$xxs} {
		padding-top: 80px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.ra-ser4-content {
	gap: 20px;
	display: flex;
	margin-bottom: 20px;
	justify-content: center;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
	.ra-ser4-item {
		&:last-child {
			border-top-right-radius: 40px;
			@media #{$lg,$md,$sm,$xs,$xxs} {
				border-radius: 0;
			}
		}
	}
}
.ra-ser4-content-2 {
	gap: 20px;
	display: flex;
	margin-bottom: 20px;
	justify-content: center;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
	.ra-ser4-item {
		&:first-child {
			border-bottom-left-radius: 40px;
			@media #{$lg,$md,$sm,$xs,$xxs} {
				border-radius: 0;
			}
		}
	}
}
.ra-ser4-featured {
	width: 100%;
	max-width:  890px;
	background-color: #FD6801;
	padding: 120px 120px 130px;
	border-top-left-radius: 40px;
	@media #{$xxxl,$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		width: 100%;
		max-width: 904px;
	}
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		padding: 80px 40px 100px;
		border-radius: 0;
	}
	.ra-btm-img {
		right: 0;
		bottom: 0;
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
	.ra-top-img {
		top: -145px;
		right: 40px;
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
	.ra-sec-title4 .subtitle {
		color: #fff;
		background: transparent;
		border: 1px solid var(--ra-title-c3);
	}
	.ra-sec-title4 .subtitle:before,
	.ra-sec-title4 .subtitle:after {
		background: var(--ra-title-c3);
	}
	.ra-sec-title4 .sec_title {
		color: #fff;
	}
	.ra-sec-title4 p {
		color: #fff;
		max-width: 623px;
	}
	.ra-btn-4 {
		a {
			span {
				color: #fff;
				background: var(--ra-title-c3);
			}
			img {
				border: 1px solid #fff;
				background: transparent;
			}
		}
	}
}
.ra-ser4-item {
	width: 100%;
	display: flex;
	max-width: 435px;
	flex-wrap: wrap;
	padding: 0px 15px;
	flex-direction: column;
	justify-content: space-between;
	background-color: #E9EBED;
	.item-text {
		padding: 55px 48px;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			padding: 30px 20px;
		}
		h3 {
			font-size: 26px;
			font-weight: 700;
		}
		p {
			padding-top: 18px;
			padding-bottom: 28px;
		}
	}
}
.ra-ser4-video {
	overflow: hidden;
	max-width: 890px;
	border-bottom-right-radius: 40px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		border-radius: 0;
	}
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}